
<%= render 'newform', user: @user , book: @book %>

<h3>Books</h3>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p><strong>Title</strong></p>
  <span><%= book.title %></span>
  <p><strong>Opinion</strong></p>
  <span><%= book.body %></span>
</div>
<% end %>